<div class="main-container flex justify-center mt-24">
  <!-- Imagen del fondo -->
  <div class="w-full bg-image"></div>
  <div class="grid grid-cols-2 gap-x-[700px]">
    <!-- Contenedor del lado izquierdo -->
    <div class="relative z-[1] flex flex-col w-[480px]">
      <h1 class="text-3xl text-[#574747] font-semibold text-[80px] leading-[0.9] tracking-wide">Drink of the moment</h1>
      <p class="text-[#574747] text-[20px] mt-12 leading-none">Gin, also known as gin, is one of the most popular and
        appreciated alcoholic
        beverages worldwide, especially for its versatility in cocktails. Originally from Europe, this spirit has
        evolved
        over the centuries and comes in a wide range of styles and flavors.</p>
      <p class="text-[40px] text-[#574747] font-bold mt-8">4.9</p>
      <button class="relative mt-8 bg-[#A1DBC3] rounded-full text-[#574747] text-[24px] font-semibold h-16 w-48 shadow-lg shadow-[#5CA3A8]">
        <p class="flex pl-4">Try now</p> <img
          class="absolute rounded-full bg-[#5CA3A8] p-3 right-3 top-3.5" src="../../../assets/Vector 1.png" alt="arrow"></button>
    </div>
    <!-- Contenedor del lado derecho -->
    <div class="space-y-10 w-42 bg-none">
      <!-- Primer contenedor -->
      <div class="flex items-center">
        <div class="relative p-[2.5rem] bg-[#A1DBC3] rounded-full w-16 h-8 shadow-lg shadow-gray-400">
          <img class="absolute bg-transparent top-[20px] left-[20px]" src="../../../assets/water-solid 1.png"
            alt="water">
        </div>
        <div class="ml-4 space-y-2">
          <h1 class="text-[#574747] font-bold text-2xl">Versatility</h1>
          <p class="text-[#574747] text-[15px] leading-none">The range of flavors in gin is exceptionally wide, thanks
            to the variety
            of botanicals that can be used in
            its production.</p>
        </div>
      </div>
      <!-- Segundo contenedor -->
      <div class="flex items-center">
        <div class="relative p-[2.5rem] bg-[#A1DBC3] rounded-full w-16 h-8 shadow-lg shadow-gray-400">
          <img class="absolute bg-transparent top-[20px] left-[20px]" src="../../../assets/cocktail-solid 1.png"
            alt="water">
        </div>
        <div class="ml-4 space-y-2">
          <h1 class="text-[#574747] font-bold text-2xl">Distiontiv Flavor</h1>
          <p class="text-[#574747] text-[15px] leading-none">Bittersweet and slightly woody flavor is the signature of
            any gin.</p>
        </div>
      </div>
      <!-- Tercer contenedor -->
      <div class="flex items-center">
        <div class="relative p-[2.5rem] bg-[#A1DBC3] rounded-full w-16 h-8 shadow-lg shadow-gray-400">
          <img class="absolute bg-transparent top-[32px] left-[20px]" src="../../../assets/Vector.png" alt="water">
        </div>
        <div class="ml-4 space-y-2">
          <h1 class="text-[#574747] font-bold text-2xl">Purity</h1>
          <p class="text-[#574747] text-[15px] leading-none">This gives it a clean, pure feel,
            without the caramel or vanilla notes
            that come from barrel aging.</p>
        </div>
      </div>
    </div>
  </div>
</div>