.bg-image {
    background-image: url('../../../assets/GIN.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 780px;
    height: 450px;
    z-index: -1;
}