<div class="grid grid-cols-4 items-center bg-[#A1DBC3] h-[400px] w-10/12 rounded-r-[80px]">
  <!-- Contenedores del lado izquierdo -->
  <div class="flex flex-col gap-10 col-span-3 ml-[200px]">
    <div>
      <p class="text-[#574747] text-[30px] font-semibold">Instructions</p>
      <ul class="text-[20px] leading-none">
        <li>1. In a small mixer bowl beat egg yolks till blended.</li>
        <li>2. Gradually add 1/4 cup sugar, beating at high speed till thick and lemon colored.</li>
        <li>3. Stir in milk, stir in rum, bourbon, vanilla, and salt.</li>
        <li>4. Chill thoroughly. Whip cream. Wash beaters well.</li>
        <li>5. In a large mixer bowl beat egg whites till soft peaks form.</li>
        <li>6. Gradually add remaining 1/4 cup sugar, beating to stiff peaks.</li>
        <li>7. Sprinkle nutmeg over each serving.</li>
        <li>8. Serve in a punch bowl or another big bowl.</li>
      </ul>
    </div>
    <p class="text-[20px] leading-none">NOTE: For a nonalcoholic eggnog, prepare Eggnog as above, except omit the bourbon and rum and increase the milk to 3 cups.</p>
  </div>

  <!-- Contenedor del lado derecho (banderas) -->
  <div class="flex flex-col h-[400px] justify-center gap-10 mr-8">
    <button class="flex justify-end"><img class ="bg-[#5CA3A8] rounded-full p-2" src="../../../assets/USA.png" alt="Flag"></button>
    <button class="flex justify-end"><img class="p-2" src="../../../assets/belgium.png" alt="Flag"></button>
    <button class="flex justify-end"><img class="p-2" src="../../../assets/spain.png" alt="Flag"></button>
  </div>
</div>