<div class="w-full flex justify-center my-12">
  <div class="w-10/12 border-t-4 border-[#475751]">
    <p class="flex justify-center text-[#475751] text-[18px] font-semibold mt-4">Browse By Name</p>
    <ul class="flex justify-center text-black font-bold mt-4">
      <li>A / </li>
      <li>B / </li>
      <li>C / </li>
      <li>D / </li>
      <li>E / </li>
      <li>F / </li>
      <li>G / </li>
      <li>H / </li>
      <li>I / </li>
      <li>J / </li>
      <li>K / </li>
      <li>L / </li>
      <li>M / </li>
      <li>N / </li>
      <li>O / </li>
      <li>P / </li>
      <li>Q / </li>
      <li>R / </li>
      <li>S / </li>
      <li>T / </li>
      <li>U / </li>
      <li>V / </li>
      <li>W / </li>
      <li>X / </li>
      <li>Y / </li>
      <li>Z</li>
    </ul>
  </div>
</div>